
/*""""""""""""""""""""""""""""""""""""""""""""""""""""*/
.main {
  box-sizing: border-box;

}

.body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the side navigation */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 37, 94, 0.308);
  overflow-x: hidden;
  padding: 10px;

}


/* Side navigation links */
.sidenav a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}
.sidenav p {
  color: white;

}

/* Change color on hover */
.sidenav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the content */
.content {
  margin-left: 200px;
  padding-left: 20px;
}

.img {
  max-width: 100%;
  height: auto;
}

.button {
  background-color: #0d004656;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


.table {
  border-collapse: collapse;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.th, .td {
  text-align: center;
  padding: 8px;
}

.tr:nth-child(even){background-color: #f2f2f2c9}
.tr:nth-child(odd){background-color: #c0c0c0a9}

.th {
  background-color: #335d7998;
  color: white;
}




